<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head><meta http-equiv="Content-Language" content="ja"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>B-eee 複数チームをつなぐコミュニケーションプラットフォーム</title>
	<meta http-equiv="Content-Style-Type" content="text/css">
</head>
<body style="margin: 0;">
<div style="text-align: center;">
<div style="margin: 60px 0;">
<p style="font-size: 35px; font-weight: bold; margin: 0; padding: 0;">LINKER</p>

<p style="font-size: 10px; font-weight: bold; color: #888; margin: 0; padding: 0;">複数チームをつなぐコミュニケーションプラットフォーム</p>
</div>

<div style="margin: 60px 0 40px 0;">
<p style="font-size: 16px; margin: 0; padding: 0;">アプリケーションへ招待されました。<br />
下記リンクからご参加ください。</p>
</div>

<div style="width: 400px; background: #f39800; border-radius: 5px; margin: 0 auto;">
<p style="font-size: 20px; margin: 0; padding: 30px 20px;"><a href="{{.url}}" style="color: #FFF;" target="_blank">ここをクリックしてユーザ登録画面へ</a></p>
</div>

<div style="margin: 60px 0 30px 0;">
<p style="font-size: 10px; color: #888; margin: 0; padding: 0;">このメールは、アプリケーション管理者によりご登録いただいたメールアドレスにお送りしています。<br />
お心当たりがない場合は、お問い合わせください。</p>
</div>

<div style="margin: 0; padding: 0;">
<p style="font-size: 14px; margin: 0 0 5px 0; padding: 0;"><a href="https://www.b-eee.com/" style="color: #f39800;" target="_blank">B-eee Technology</a></p>

<p style="font-size: 10px; color: #888; margin: 0; padding: 0;">&copy;Copyright: B-eee Technology,Inc.</p>
</div>
</div>
</body>
</html>
